<div class="container" ng-cloak>
    <div class="page-header">
        <h1>
            <span ng-show="model.waiting" class="waiting label label-info">Searching...</span>
            <span ng-show="model.pager" class="badge">{{model.pager.total}} found</span>
        </h1>
    </div>
    
    <form ng-submit="search(model.filter)" class="form-group">
        <div class="col-sm-6">
            <div class="input-group form-group">
                <span class="input-group-addon"><label for="filter">Filter</label></span>
                <input type="text" id="filter" ng-model="model.filter" class="form-control" placeholder="Filter" autofocus>
            </div>
            <div class="input-group form-group">
                <span class="input-group-addon"><label for="datetimepicker1">Start Date</label></span>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{model.format}}" ng-model="model.fromDate" is-open="model.opened" min-date="model.minDate" max-date="model.maxDate" datepicker-options="model.dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary">Search</button>
                </span>
            </div>
        </div>
    </form>

    <div class="row" ng-show="model.message">
        <div class="col-sm-8">
            <div class="alert alert-danger alert-dismissable">{{model.message}}</div>
        </div>
    </div>
    <div class="row" ng-hide="model.logs || model.waiting || model.message">
        <div class="col-sm-8">
            <div class="alert alert-info">No Record Found</div>
        </div>
    </div>
    <div class="row" ng-show="model.logs">
        <table class="table table-condensed table-responsive table-striped xtable-bordered">
            <thead>
                <tr>
                    <!--<th>LogID</th>-->
                    <th>EventID</th>
                    <th>Priority</th>
                    <th>Severity</th>
                    <th>Title</th>
                    <th>Timestamp</th>
                    <th>Message</th>
                    <th>FormattedMessage</th>
                    <th>MachineName</th>
                    <th>AppDomainName</th>
                    <th>ProcessID</th>
                    <th>ProcessName</th>
                    <th>ThreadName</th>
                    <th>Win32ThreadId</th>
                </tr>
            </thead>
            <tr ng-repeat="log in model.logs">
                <!--<td>{{log.logID}}</td>-->
                <td>{{log.eventID}}</td>
                <td>{{log.priority}}</td>
                <td>{{log.severity}}</td>
                <td>{{log.title}}</td>
                <td>{{log.timestamp}}</td>
                <td>{{log.message}}</td>
                <td>{{log.formattedMessage}}</td>
                <td>{{log.machineName}}</td>
                <td>{{log.appDomainName}}</td>
                <td>{{log.processID}}</td>
                <td>{{log.processName}}</td>
                <td>{{log.threadName}}</td>
                <td>{{log.win32ThreadId}}</td>
            </tr>
        </table>
    </div>
    <div class="row" ng-show="model.pager">
        <div class="col-sm-8">
            <ul class="center-block pagination">
                <li ng-repeat="button in model.pager.buttons"
                    ng-class="!button.enabled ? 'disabled' : (button.current ? 'active':'')">
                    <a href="#/list/{{model.pager.filter}}/{{button.page}}" ng-bind-html="button.text"></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 pager-text">
            <strong>Page</strong> <span class="badge bg-active">{{model.pager.currentPage}}</span> <strong>of</strong> <span class="badge">{{model.pager.totalPages}}</span>
        </div>
    </div>
</div>